<div class="rounded-md mt-5 p-5">
    <form (ngSubmit)="add()">
        <mat-form-field class="w-full">
            <mat-label>Role name</mat-label>
            <input matInput name="name" [(ngModel)]="role.roleName" placeholder="Role name" required>
            @if(!role.roleName){
                <mat-error class="text-base">
                    Role name is required!
                </mat-error>
            }

        </mat-form-field>
        @if(errorMessage){
            <span class="text-base text-red-500">
                {{errorMessage}}
            </span>
        }
        <button [disabled]="!role.roleName" type="submit" class="rounded-md bg-amber-700 text-white px-4 disabled:bg-amber-300">Add</button>
    </form>
</div>