version: "3.8"

services:
  api:
    image: ghcr.io/csabaialbert/jwtauthapp/jwt-auth-api:latest
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
    restart: unless-stopped

  frontend:
    image: ghcr.io/csabaialbert/jwtauthapp/jwt-auth-frontend:latest
    ports:
      - "4200:80"
    depends_on:
      - api
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    command:
      - --web.enable-lifecycle
      - --config.file=/etc/prometheus/prometheus.yml
    depends_on:
      - api
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=adminpass
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    restart: unless-stopped

volumes:
  prometheus_data:
  grafana_data:
